.indian{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 40px;
    /* width: 100px; */
    /* height: 100px; */
}
.indian-text:hover{
    box-shadow: 0px 0px 15px 3px rgb(143, 138, 138);
}